/**
    Title: Exercise 3.3 - Passing Data to Routes, Part 2
    Arthur: Professor Krasso
    Date: 06/09/2023
    Modified By: Brooks
    Description: signin.component
*/

/*
  The Bootstrap form should be inside a Bootstrap card, 35% width,
  10% margin-top, and centered in the middle of the page
*/

.signin-container {
  width: 35%;
  margin: 0 auto;
  margin-top: 10%;
}
