<!--
    Title: Composer-App About Component
    Arthur: Professor Krasso
    Date: 06/09/2023
    Description: About Component.
-->

<!--

  Research composers and select one composer to write a 75-word bio.
  Add this to the about.component.html page.  You will also need to
  include a bio image of the composer, which will be placed to the
  left of the 75-word write-up

-->

<div class="col-8 m-auto">
<h2 class="text-center m-4">Ludwig Van Beethoven</h2>

<hr />

<div class="row">


<div class="col">

  <figure>
<!--
    Title: Ludwig Van Beethoven bust.
    Arthur: pixabay
    Date: 06/03/2023
    Description: bust

    https://pixabay.com/photos/ludwig-van-beethoven-bust-composer-62844/
-->
    <img src="assets/ludwig-van-beethoven.jpg" class="img-fluid" alt="Ludwig Van Beethoven bust.">

    <figcaption class="text-center">(image courtesy of pixabay)<br><a href="https://pixabay.com/photos/ludwig-van-beethoven-bust-composer-62844/" target="_blank">pixabay.com</a></figcaption>

  </figure>

</div>


<div class="col">

  <p>
    Beethoven comes from a lineage of musicians. His grandfather was well
    regarded where they were from, and he had great pride in his family. However,
    his father had become an alcoholic after the death of his grandfather.
    Beethoven’s father wished him to be a child prodigy, like Mozart and would
    often lie about his age. Even convincing a young Beethoven about the actual
    year he was born. Sadly, his father was also known to abuse Beethoven to
    make him a better player. In his late 20s he started to experience hearing
    loss as well. Despite all this, he still ended up becoming a world renown
    composer for many generations to come.
  </p>

</div>

</div>
</div>
