<!--
    Title: Exercise 6.4 - Input Properties
    Arthur: Professor Krasso
    Date: 07/02/2023
    Description: home component
-->

<!-- Using flex layout create one row with two divs side-by-side -->
<div fxLayout="row wrap" fxLayoutGap="20px">

  <div fxFlex="50%" class="grade-form">

<!--
  In the left-hand div add a mat-card (this will be reserved for a form;
  also for the rest of this assignment we will refer to this section
  as the “grade-form”)
-->
    <mat-card class="mat-card mat-focus-indicator mat-elevation-z8">

      <!-- Give the mat-card-title a value of Grade Entry -->
      <mat-card-title>Grade Entry</mat-card-title>

      <mat-card-content>

<!--
  Inside the mat-content add a form with with two form fields
  (input and mat-select), and mat-labels
-->
        <div fxLayout="column" fxLayoutGap="20px">


          <mat-form-field fxFlex>

            <!-- a label of “Course” -->
            <mat-label>Course</mat-label>

            <!-- Give the first input field an id of txtCourse. -->
            <!-- map the transcriptEntry.course using the “Banana in a box” -->
            <input matInput id="txtCourse" name="txtCourse"
              [(ngModel)]="transcriptEntry.course" />

          </mat-form-field>




          <mat-form-field fxFlex>


            <mat-label>Grade</mat-label>

<!--
  Give it a name of “selectGrade” and map the transcriptEntry.grade
  using the “Banana in a box”
-->
            <mat-select [(ngModel)]="transcriptEntry.grade" name="selectGrade" >

<!--
  Inside the mat-select, add a mat-option and using *ngFor to loop over
  the selectableGrades
-->
            <mat-option
            *ngFor="let grade of selectableGrades"
            [value]="grade">
              {{ grade }}
            </mat-option>

          </mat-select>

          </mat-form-field>

<!--
  Add a button with a display name of Save
  (this goes inside the mat-content element)

  Give the button an id of btnSave and
  add a click event to call the saveEntry() function
-->
          <button mat-raised-button color="primary" (click)="saveEntry()" id="btnSave">
            Save
          </button>


        </div>


      </mat-card-content>


    </mat-card>

  </div>




  <div fxFlex="50%" fxFlex class="grade-summary">

<!--
  Add a button above the mat-card in the grade-summary section,
  call the clearEntries() function and give it a title of “Clear Transcript”
-->
    <button mat-button color="primary" (click)="clearEntries()">
      Clear Transcript
    </button>

<!-- In the right-hand div add a mat-card -->
    <mat-card class="mat-card mat-focus-indicator mat-elevation-z8">

      <!-- Give the mat-card-title a value of Transcript -->
      <mat-card-title>Transcript</mat-card-title>

      <!-- in the mat-card-content add the app-grade-summary component -->
      <mat-card-content>

<!--
  Add an *ngFor loop, iterate over the “transcriptEntries
  and assign the variables as input values
-->
        <app-grade-summary *ngFor="let entry of transcriptEntries"
          [course]="entry.course"
          [grade]="entry.grade"></app-grade-summary>

      </mat-card-content>

    </mat-card>

  </div>

</div>




<br />


<!-- Using flex layout create one column underneath the two side-by-side columns -->
<div fxLayout="column" fxLayoutGap="20px">


  <div fxFlex class="gpa">

<!--
  Add a button above the card in the gpa section and give it a (click) event
  to call the calculateResults() event and name the button “Calculate GPA
-->
<button mat-button color="primary" (click)="calculateResults()">
  Calculate GPA
</button>


    <!-- In the div add a mat-card -->
    <mat-card class="mat-card mat-focus-indicator mat-elevation-z8">

      <!-- in the mat-card-title add the app-gpa element after the word GPA: -->
      <!-- Text align the mat-card-title to the center -->
      <mat-card-title style="text-align: center;">GPA:
<!--
  Add an input entry to the app-gpa component called [gpaTotal]
  and pass-in the gpaTotal value
-->
<app-gpa [gpaTotal]="gpaTotal"></app-gpa>

</mat-card-title>


    </mat-card>
  </div>

</div>
