<!--
    Title: Index - Brooke Taylor Personal Portfolio
    Arthur: Brooke Taylor
    Date: 05/27/2023
    Description: Index page for personal portfolio with Angular!
-->

<nav class="navbar navbar-expand navbar-light">

  <a class="navbar-brand" href="#"><h1>Brooke Taylor</h1></a>

  <ul class="navbar-nav text-center">

      <li><a class="nav-link" href="#">Home</a></li>
      <li><a class="nav-link" href="#">About</a></li>
      <li><a class="nav-link" href="#">contact</a></li>

  </ul>

</nav>



<main>

  <h2>{{ assignment }}</h2>

  <div class="row">

    <div class="col m-4">

      <app-my-image></app-my-image>

    </div>



    <div class="col m-4">

      <app-my-details></app-my-details>

    </div>

  </div>

</main>
