/**
    Title: Exercise 5.3 - Data Tables
    Arthur: Professor Krasso
    Date: 06/24/2023
    Modified By: Brooks
    Description: book-list component scss
*/

/* Add CSS styling for text-decoration: none; */
.a-link {
  text-decoration: none;
}

/* Add CSS styling for hover cursor: pointer; text-decoration: underline */
.a-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
