/**
    Title: Exercise 8.2 - Server-side Communications
    Arthur: Professor Krasso
    Date: 07/11/2023
    Modified By: Brooks
    Description: Wishlist Create form styles.
*/

/* Adding styles per YouTube video */
.wishlist-create-form {
  width: 60%;
}
