<!--
    Title: Exercise 6.2 - Input/Output Properties, Part 1
    Arthur: Professor Krasso
    Date: 06/28/2023
    Description: contact component
-->

<div fxLayout="row wrap">

<!--
  Update the HTML in the contact.component.html to tell users how they
  may contact the selected author
-->

  <div fxFlex>

    <mat-card class="mat-elevation-z0">

      <mat-card-title class="card-title-icon">

        <mat-icon color="primary">navigation</mat-icon>

      </mat-card-title>

        <br />

      <mat-card-content class="align-center">

        <p>
          Cesar's Way, Inc.
        </p>
        <p>
          PO Box 802888
        </p>
        <p>
          Santa Clarita, CA 91380-2888
        </p>

      </mat-card-content>

    </mat-card>

  </div>


  <div fxFlex>
    <mat-card class="mat-elevation-z0">

      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

        <br />

      <mat-card-content class="align-center">
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free: 1(888)555-5555
        </p>
        <p>
          Fax: 555-555-5556
        </p>
      </mat-card-content>

    </mat-card>
  </div>

</div>

<br /><br /><br /><br />

<div fxLayout="column">
  <p style="text-align: center;">
    Thanks for your interest in Cesar's Way and all things animals!
  </p>
</div>
