<!--
    Title: Composer-App Contact Component
    Arthur: Brooke Taylor
    Date: 06/03/2023
    Description: Contact Component.
-->

<!--

  Update the HTML in the contact.component.html to tell users how they may
  contact the selected composer

  At minimum there should be two side-by-side divs. The left <div> should
  contain a header and a street address.  The right <div> should contain a
  header and a phone number.  For the headers, use Bootstrap icons that best
  represent each section

-->


<div class="col-8 m-auto">
<h2 class="text-center">Contact Us</h2>

<div class="d-flex justify-content-around">

  <div>

    <i class="bi bi-geo-alt fs-1 text"></i>

    <h3>Location</h3>

    <address>
      1827 Bonn, Cologne<br>
      Germany
    </address>

  </div>

  <div>

    <i class="bi bi-telephone fs-1 text"></i>

    <h3>Reach us by phone:</h3>

    <a href="tel:+12171770">12171770</a>

  </div>

</div>

</div>
