/**
    Title: Exercise 6.4 - Input Properties
    Arthur: Professor Krasso
    Date: 07/02/2023
    Modified By: Brooks
    Description: Base-Layout component.
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
