<!--
    Title: Exercise 7.3 - Form Validation
    Arthur: Professor Krasso
    Date: 07/07/2023
    Description: not-found component
-->

<div fxLayout="column">

  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">

    <mat-card-title fxLayoutAlign="center">
      <h1>404 Not Found</h1>
    </mat-card-title>


    <div fxLayoutAlign="center">
      <img src="./assets/not-found-image.png" alt="Page Not Found" />
    </div>


    <mat-card-content style="text-align: center; padding-left: 30%;">

      <p>We apologize, but the page you're looking for does not exist.</p>

      <button mat-raised-button color="accent" routerLink="/">Return home</button>

    </mat-card-content>

  </mat-card>

</div>
