/**
    Title: Exercise 6.4 - Input Properties
    Arthur: Professor Krasso
    Date: 07/02/2023
    Modified By: Brooks
    Description: styles scss
*/

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
