<!--
    Title: Composer-App composer-list Component
    Arthur: Brooke Taylor
    Date: 06/03/2023
    Description: composer-list Component.
-->


<div class="col-8 m-auto">
<table class="table">
  <thead class="table-dark">
    <tr>
      <!-- Add a new column to the table for Composer ID -->
      <th scope="col">Composer ID</th>
      <th scope="col">Composer</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>


<!--
  Using the *ngFor directive, loop over the array of composers and output the
  results to a Bootstrap table
-->
    <tr *ngFor="let composer of composers">
      <td scope="row">
<!--

  Update the table definition to include the composerId

  Wrap the composerId table definition with an HTML anchor tag and
  pass-in the composerId value

-->
        <a routerLink="/composer-details/{{ composer.composerId }}">
          {{ composer.composerId }}
        </a>
      </td>
      <td scope="row">{{ composer.fullName }}</td>
      <td scope="row">{{ composer.genre }}</td>
    </tr>

  </tbody>
</table>
</div>
