/**
    Title: Exercise 5.3 - Data Tables
    Arthur: Professor Krasso
    Date: 06/24/2023
    Modified By: Brooks
    Description: app componenet
*/

// Set the top margin to 5px
.logo {
  margin-top: 5px;
}

// Set the top padding to 25px, width to 80%, center the div
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
