/**
    Title: Exercise 3.2 - Passing Data to Routes, Part 1
    Arthur: Professor Krasso
    Date: 06/09/2023
    Modified By: Brooks
    Description: import bootstrap icons.
*/

/* You can add global styles to this file, and also import other style files */

@import '~bootstrap-icons/font/bootstrap-icons.css';
