<!--
    Title: Exercise 8.2 - Server-side Communications
    Arthur: Professor Krasso
    Date: 07/11/2023
    Description: about component
-->

<!-- Using flex-layout create a new row div and set the row to wrap -->
<div fxLayout="row wrap">

<!--
  Inside the first row div add two more fxFlex divs
  (we are going to display the content in two columns: image and description)
-->
  <div fxFlex>

    <div fxLayout="column">

      <div>
        <img src="./assets/cesarMillan.jpg" alt="Cesar Millan" />
      </div>

<!-- Make sure the image is royalty free and include the source as a caption. -->

      <div>
        <em>Photo by DigitalRalph on <a class="attribution-link" href="https://commons.wikimedia.org/wiki/File:Cesar_Millan_285.jpg" target="_blank">https://commons.wikimedia.org/wiki/File:Cesar_Millan_285.jpg</a></em>
      </div>

    </div>

  </div>


  <div fxFlex>

    <h1 class="blue">Cesar Millan</h1>

<!--
  Research books and select your favorite author
  to write a 75-word bio about the book
-->
    <p>
      Cesar was born in 1969, to a small rural town of Culiacán, Mexico. He
      learned about dogs through his grandfather. And saw on TV and movies how
      other people interacted with dogs, and realized what they were doing
      wrong. He dreamed of becoming the world’s best dog trainer. In 1990,
      he decided to move to America to pursue his dream. By 2002, he was
      featured in the Los Angeles Times and earned a reputation with his
      calm-assertive approach and being able to walk several dogs at a time.
    </p>

    <em>Biography by: <a href="https://www.cesarsway.com/about-cesar/" target="_blank" class="attribution-link">https://www.cesarsway.com/about-cesar/</a></em>

  </div>




</div>
