/**
    Title: Exercise 6.2 - Input/Output Properties, Part 1
    Arthur: Professor Krasso
    Date: 06/28/2023
    Modified By: Brooks
    Description: Wishlist Create form styles.
*/

/* Adding styles per YouTube video */
.wishlist-create-form {
  width: 60%;
}
